@import 'src/styles/mixins';

.actions {
  @include dashboard-section('small');

  > div {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  > button {
    padding: 10px;
  }
}
